<% if (site.tags.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title">关于我</h3>
    <div class="widget">
      <p>邮箱：admin(at)flygon.net</p>
      <p>QQ：562826179</p>
      <p>微博：<a href='http://weibo.com/wizardforcel'>@龙雀</a></p>
    </div>
  </div>
<% } %>