<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title">友情链接</h3>
    <div class="widget">
      <ul>
<!-- link begin -->
<li><a href="http://www.258ch.com/">苍海国际</a></li>
<li><a href='http://tieba.baidu.com/f?kw=%B7%C9%C1%FA'>百度飞龙吧</a></li>
<li><a href='http://tieba.baidu.com/f?kw=%CE%AA%B0%AE%C8%EB%C3%DF'>百度为爱入眠吧</a></li>
<li><a href="http://shop111641322.taobao.com/shop/view_shop.htm">菲菲的零食铺子</a></li>
<li><a href="http://bestcbooks.com/">计算机书籍控</a></li>
<li><a href="http://www.714.hk/">梦殇国际</a></li>
<li><a href="http://cuican.name/">璀璨</a></li>
<li><a href="http://www.jsgblog.com">旧时光博客</a></li>
<li><a href="http://www.tiebalu.com/">贴吧录</a></li>
<li><a href="http://i7yue.com">倾诉</a></li>
<li><a href="http://www.weightwl.com/">重量网络</a></li>
<li><a href="http://www.shangyes.net/">上邪盟</a></li>
<li><a href="http://www.7voh.pw/">落叶林</a></li>
<li><a href='http://fivekuai.com/'>Five贴吧</a></li>
<li><a href="http://blog.zu1y.xyz/">长歌倚楼</a></li>
<li><a href="http://www.myluoluo.com">笨笨.blog</a></li>
<li><a href="http://aikongke.com/">爱控客</a></li>
<li><a href="http://www.kunr.me/">Kunr</a></li>
<li><a href="http://blog.dennx.com">Dennx</a></li>
<li><a href="http://www.iiboka.com/">QQ技术博客</a></li>
<li><a href="http://www.sunweihu.com/">墨涩颓废网</a></li>
<li><a href="http://www.icebaidu.com">冷熊猫</a></li>
<li><a href="http://www.yire.xyz/">燚热的博客</a></li>
<li><a href="http://www.papwin.com/">papBlog</a></li>
<li><a href="http://tiebo.net/">贴博</a></li>
<li><a href="http://gaocegege.com/Blog/">高策Blog</a></li>
<li><a href="http://blog.wmkjlm.com/">无名科技</a></li>
<li><a href="http://www.giuem.com/">Giuem</a></li>
<li><a href="http://www.woaiye.com/">我爱夜</a></li>
<li><a href="http://www.coco360.cn">coco360</a></li>
<li><a href="http://emilelu.com/">Emilelu</a></li>
<li><a href="http://www.stus8.com/forum.php">StusGame</a></li>
<li><a href="http://indie-onion.diandian.com/">小葱希希</a></li>
<li><a href="http://www.wczf.net/">微尘逐风</a></li>
<li><a href="http://moelove.info/">MoeLove</a></li>
<li><a href="http://www.geekzu.cn/">极客族</a></li>
<li><a href="http://icun.me/">尹寸博客</a></li>
<li><a href="http://q6q64399.info/">q6q64399博客</a></li>
<li><a href="http://hardrain980.com">骤雨</a></li>
<li><a href="http://lolil.lofter.com/">庭园</a></li>
<li><a href='http://blog.rpgsky.net/'>幻想天空</a></li>
<!-- link end -->
      </ul>
    </div>
  </div>
<% } %>